#contenedor {
	position: relative;
	margin: 0 auto;
	width: 1000px;
}
header {
	position: relative;
	width: 100%;
	border: 3px solid black;
	height: 10em;
	background-image: url(Imagenes/fondoheader.jpg);
    background-size: 100% 100%;
	background-repeat: no-repeat;
	border-radius: 0.5em;
}								
								#logo {
									float: right;
									margin-right: 5em;
									margin-top: 2em;
								}
								#titulo {
									float: left;
									margin-left: 15%;
									margin-top: 5%;
									font-family: "Trebuchet MS", Helvetica, sans-serif;
								}

nav {
	position: relative;
	width: 100%;
	border: 3px solid black;
	margin-top: 1em;
	margin-bottom: 1em;
	background: linear-gradient(lightblue,lightblue);
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	border-radius: 0.2em;
}
								ul {list-style-type: none;
									text-align: center;
								}
								li {display: inline;
									text-align: center;
									margin: 0 2em 0 0;
									background: linear-gradient(lightblue,lightblue);
								}
								li a {padding: 0.5em 0.5em 0.5em 0.5em;
									  color: white;
									  background: linear-gradient(lightblue,blue);
									  border: 0.2em solid black;
									  border-radius: 1em;
									  text-decoration: none;}

								li a.active {
											  color: black;
											  background: linear-gradient(white,lightblue);
								}

								li a:hover:not(.active) {
														  color:black;

								}

								li a:hover {
											color: white;
								}
section {
	float: left;
	border: 3px solid black;
	width: 70%;
	background-image: url("Imagenes/fondoseccion.jpg");
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	border-radius: 0.5em;
	margin-bottom: 3em;
	text-align: center;
}
aside {
	float: right;
	width: 20%;
	border: 3px solid black;
	text-align: center;
	background: linear-gradient(white,blue);
	margin-bottom: 1em;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	border-radius: 0.5em;
}
footer {
	position: relative;
	width: 100%;
	height: 11em;
	clear: both;
	border: 3px solid black;
	font-size: 1em;
	text-align: center;
	font-family: "Trebuchet MS", Helvetica, sans-serif; 
	background-color: grey;
	color: white;
	border-radius: 10em;
}
#contacta {
	float: left;
	width: 30%;
	margin-left: 3em;
}
#sobrenosotros {
	float: right;
	width: 30%;
	margin-right: 3em;
}
#logo2 {position: relative;
		bottom: 8em;
		right: 19em;}

body {background-image: url("Imagenes/fondohome.jpg");
	  background-position: center center;
	  background-repeat: no-repeat;
	  background-attachment: fixed;
	  background-size: cover;
	  background-color: blue;}

#Formulario{
			border: 0.4em dotted black;
			margin-top: 1em;
			margin-bottom: 1em;
			margin-left: 1em;
			margin-right: 1em;}
								legend {
										font-size: 2em;
										margin-top: 1em;
										margin-bottom: 1em;
										margin-left: 1em;
										margin-right: 1em;
										background: linear-gradient(white,lightblue);
								}

								#info {
										border: 0.2em solid black;
										border-radius: 1em;
										margin-left: 1em;
										margin-right: 1em;
								}

		