		#Formulario{
			border: 0.4em dotted black;
			margin-top: 1em;
			margin-bottom: 1em;
			margin-left: 1em;
			margin-right: 1em;}
								#formTitulo {
										font-size: 2em;
										margin-top: 1em;
										margin-bottom: 1em;
										margin-left: 1em;
										margin-right: 1em;
										background: linear-gradient(white,lightblue);
								}

								#info {
										border: 0.2em solid black;
										border-radius: 1em;
										margin-left: 1em;
										margin-right: 1em;
								}
								#Mejoras {
									resize: none;
									width:40em;
									height: 10em;
								}
								fieldset {
									border-radius: 4px;
									margin: 10px;
								}
								#GrupoForm {
									background-color: #336799;
									color: white;
									opacity: 0.9;
									border: 1px solid white;
									border-radius: 5px;
								}
